{% extends "base.html" %} {% block title %}Dashboard{% endblock title %} {%
block home_active %}{% endblock home_active %} {% block dash_active %}active{%
endblock dash_active %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1 style="padding: 1rem">Dashboard</h1>
<div>
  <div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
      <div class="card-body">
        <div class="chart-container" style="position: relative">
          <canvas id="category_bar_plot"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const ctx = document.getElementById("category_bar_plot");

  let exp = JSON.parse({{ expenses | tojson }})
  let cat = JSON.parse({{ categories | tojson }})

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: cat,
      datasets: [
        {
          label: "Sum of expenses",
          data: exp,
          borderWidth: 1,
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>

{% endblock content %}
